.Titulo{
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}


.btn-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

#modalContent {
    transform: translate(5%,-20%);
    top: 50%;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-height: 80vh; 
    overflow-y: auto; 
    border-radius: 8px;
    padding: 20px;
}
