body {
    height: 100vh;
    width: 100%;
}

main {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* detalhes do produto */
.produto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* CARROSSEL DE IMAGENS */
.produto .imagens-prod {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: #007bff; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

img {
    box-shadow: 0 1px 2px #0003;
    height: 200px;
}

.swiper {
    height: 60%;
    width: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .swiper {
        height: 50%;
    }
}

.swiper-button-next {
    width: 50%;
}

.swiper-button-prev {
    width: 50%;
}

/* INFO PROD */
.produto .info-prod {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: #62aeff; */
    padding: 0 60px;

}

.titulo-prod {
    margin-top: 80px;
    font-size: 45px;
    font-weight: 700;
}

.valor-prod {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
}

.avaliacao-prod {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.descricao-prod {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

/* botão comprar */
.btn-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    width: 150px;
    margin-top: 50px;
}

.btn-comprar .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.btn-comprar svg path {
    transition: 400ms;
}

.btn-comprar:hover {
    background-color: transparent;
}

.btn-comprar:hover .text {
    color: #181717;
}

.btn-comprar:hover svg path {
    fill: #181717;
}
